{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>HELLO</h1>
                        <span class="subheading">ici on dit bonjour</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if user.name is not defined %}
                    <h1>Welcome to {{ user.place }}.</h1>
                {% else %}
                    <h1>Welcome to {{ user.place }}, {{ user.name }}</h1>
                {% endif %}


                <ul>
                    {% for value in user %}
                        <li>{{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}