{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ article.getImage()}}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ article.getTitle()}}</h1>
                        <span class="subheading">{{ article.getSubtitle()}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="post-preview col-lg-8 col-md-10 mx-auto">
        <p class="post">
            {{ article.getBody()}}
        </p>
        <p class="post-meta">Posted by
            {{ article.getAuthor()}}
            on  {{ article.getCreatedArt()|date("d/m/Y") }}
        </p>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <h3 class="col-lg-8 col-md-10 mx-auto"> {{ article.getComments()|length }} Comment{% if article.getComments()|length > 1 %}s{% endif %}</h3>
        </div>

        <!-- Comments Form -->
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <!--<form>

                    </form>-->
                    {{ form_start(commentForm, {attr: {'novalidate': 'novalidate'}}) }}
                    <div class="form-group">
                        <label>Name</label>
                        {{ form_widget(commentForm.name) }}
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        {{ form_widget(commentForm.email) }}

                    </div>
                    <div class="form-group">
                        <label>Comment</label>
                        {{ form_widget(commentForm.comment) }}
                    </div>
                    <button type="submit" class="btn btn-secondary">Submit</button>

                    {{ form_end(commentForm) }}

                </div>
            </div>
        </div>



        {% for comment in article.getComments() %}
            <div class="row">

                <div class="media mb-4 mt-4 col-lg-8 col-md-10 mx-auto">
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.getName() }} <small>{{  comment.getEmail() }}-{{  comment.getCreatedAt()|date("d/m/Y") }}</small></h5>
                        <blockquote>{{  comment.getComment() }}</blockquote>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
