{% extends 'base.html.twig' %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>SALUT</h1>
                        <span class="subheading">un site bien</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="post-title">
                Les 4 derniers articles du moment !
            </h2>
        </div>
        </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

                {% for article in articles %}
                    <div class="post-preview">
                        <a href="{{ url('article', {"id": article.id})}}">
                            <h2 class="post-title">
                                {{ article.getTitle()}}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ article.getSubtitle()}}
                            </h3>
                        </a>
                        <p class="post">  {{ article.getBody()}}
                        </p>
                        <img style="width:500px;" src="{{ article.getImage()}}">
                        <p class="post-meta">Posted by
                            {{ article.getAuthor()}}
                            on  {{ article.getCreatedArt()|date("d/m/Y") }}
                        </p>
                    </div>
                {% endfor %}

        </div>
    </div>
</div>

<hr>
{% endblock %}